<div class="progress" *ngIf="!submitted" >
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="container mt-5" *ngIf="!submitted">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Session
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="validationCustom03" class="form-label">Nom session</label>
            <input type="text" class="form-control" id="validationCustom03" placeholder="Nom session" [(ngModel)]="lib" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="form-group">
            <label for="validationCustom04" class="form-label">Critere</label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="crit" required>
              <option value="stock_min" selected>stock stock minimum</option>
              <option value="moy_ventes">moyenne des ventes</option>
            </select>
          </div>
          <br>
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary" type="button" (click)="Ajouter()">Next</button>
            <!-- The empty span below is for spacing -->
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="progress" *ngIf="submitted" >
    <div class="progress-bar" role="progressbar"  [ngStyle]="{'width': articleA  ? '50%': ( etabA  ? '75%' : ( created  ? '100%' : '0%'))  }" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
<div [ngStyle]="{ 'display': submitted ? 'block' : 'none'}">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " [ngClass]="articleA ? 'active' : ''" [ngStyle]="{'pointerEvents': articleA || etabA ? '' : 'none'}" aria-current="page"  (click)="articleShow(true)">choisir articles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="etabA ? 'active' : ''" (click)="articleShow(false)" [ngStyle]="{'pointerEvents': etabA || articleA ? 'all' : 'none'}" >choisir etablissement</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="created ? 'active' : ''">proposition</a>
  </li>
</ul>
<div [ngStyle]="{ 'display': articleA ? 'block' : 'none'} ">
  <br>
  <div class="card">
    <div class="card-header">
      Filter
    </div>
    <div class="card-body" >
      <div class="row">
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">code article generique</label>
          <input type="text" class="form-control" id="validationCustom01" placeholder="code article generique" [(ngModel)]="cag" >
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">code a barre</label>
          <input type="text" class="form-control" id="validationCustom02" placeholder="code a barre" [(ngModel)]="cb" >
        </div>
        <div class="col-md-4">
          <label for="validationCustomUsername" class="form-label">code fournisseur</label>
          <div class="input-group has-validation">   
          <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" placeholder="code fournissuer" [(ngModel)]="cf">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="validationCustom03" class="form-label">Model</label>
          <input type="text" class="form-control" id="validationCustom03" placeholder="Model" [(ngModel)]="m">
        </div>
        <div class="col-md-4">
          <label for="validationCustom04" class="form-label">Categorie</label>
          <input type="text" name="" id="" placeholder="Categorie" class="form-control" [(ngModel)]="c">
        </div>
        <div class="col-md-4">
          <label for="validationCustom04" class="form-label">Sous Categorie</label>
          <input type="text" name="" id="" placeholder="Sous Categorie" class="form-control" [(ngModel)]="sc">
          </div>
        </div>
        <br>
        <div class="container " style="text-align: center;">
          
          <button class="btn btn-primary" type="button" (click)="Filtrer()"><span><i class="bi bi-funnel-fill"></i></span>Filtrer</button>
        </div>
    </div>
    </div>
    <br>
    <div class="d-flex justify-content-between">
      <button class="btn btn-primary" type="button" disabled>Previous</button>
      <button class="btn btn-primary" type="button" (click)="articleShow(false)">Next</button>
    </div>
    <br>
    
  <div class="card" >
    <div class="card-body">
  <div class="table-responsive">
    <table class="display" id="datatable1" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th style="width:3%"></th>
          <th style="width:40%">code article dem </th>
          <th style="width:50%">code a barre</th>
          <th style="width:7%">label</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let article of articles">
          <td></td>
          <td>{{article.code_article_dem}}</td>
          <td>{{article.code_barre}}</td>
          <td>{{article.libelle}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>
</div>
<div [ngStyle]="{ 'display': etabA ? 'block' : 'none'} ">
  <br>
  <div class="card">
    <div class="card-header">
      Filter
    </div>
    <div class="card-body" >
      <div class="row">
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">codde Etablissement</label>
          <input type="text" class="form-control" id="validationCustom01" placeholder="code Etablissement" [(ngModel)]="ce" >
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">adresse</label>
          <input type="text" class="form-control" id="validationCustom02" placeholder="adresse" [(ngModel)]="adr" >
        </div>
        <div class="col-md-4">
          <label for="validationCustomUsername" class="form-label">type</label>
          <div class="input-group has-validation">   
          <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" placeholder="Type" [(ngModel)]="type">
          </div>
        </div>
      </div>
        <br>
        <div class="container " style="text-align: center;">
          
          <button class="btn btn-primary" type="button" (click)="Filtrer2()"><span><i class="bi bi-funnel-fill"></i></span>Filtrer</button>
        </div>
    </div>
    </div>
    <br>
    <div class="d-flex justify-content-between">
      <button class="btn btn-primary" type="button" (click)="articleShow(true)">Previous</button>
      <button class="btn btn-primary" type="button" (click)="createProp()">Next</button>
    </div>
    <br>
  <div class="card" >
    <div class="card-body">
  <div class="table-responsive">
    <table class="display" id="datatable2" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th style="width:3%"></th>
          <th style="width:14%">code Etablissement </th>
          <th style="width:14%">libelle</th>
          <th style="width:14%">adresse1</th>
          <th style="width:14%">adresse2</th>
          <th style="width:14%">type</th>
          <th style="width:14%">priorite</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let etab of etabs">
          <td></td>
          <td>{{etab.code_etab}}</td>
          <td>{{etab.libelle}}</td>
          <td>{{etab.adresse1}}</td>
          <td>{{etab.adresse2}}</td>
          <td>{{etab.type}}</td>
          <td>{{etab.priorite}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>
</div>
<div [ngStyle]="{ 'display': created ? 'block' : 'none'} ">
  <div class="card" >
    <div class="card-body">
  <div class="table-responsive">
    <table class="display" id="datatable3" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th >ordre de transfert</th>
          <th >code article generique</th>
          <th >code article dimensionee</th>
          <th >code barre</th>
          <th >libellle taille</th>
          <th >libelle couleur</th>
          <th >emmeteur</th>
          <th >recepteur</th>
          <th >quantite a transferer</th>
          <th >code session</th>
          <th >date</th>
          <th >nom createur</th>
          <th >statut proposition</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let prop of props">
          <td>{{prop.ordre_trf}}</td>
          <td>{{prop.code_article_gen}}</td>
          <td>{{prop.code_article_dem}}</td>
          <td>{{prop.code_barre}}</td>
          <td>{{prop.lib_taille}}</td>
          <td>{{prop.lib_couleur}}</td>
          <td>{{prop.emet}}</td>
          <td>{{prop.recep}}</td>
          <td>{{prop.qte_trf}}</td>
          <td>{{prop.code_session}}</td>
          <td>{{prop.date}}</td>
          <td>{{prop.nom}}</td>
          <td>{{prop.statut}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div> 
</div>

</div>