body, html {
    height: 100%;
    margin: 0;
  }
  
  .container-fluid {
    height: 100%;
  }
  
  .row {
    height: 100%;
    display: flex;
  }
  
  .sidebar {
    height: 100%;
    position: fixed;
    overflow-y: auto;
  }
  
  .main-content {
    flex: 1;
    overflow-y: auto;
    padding-left: 250px; /* Adjust as needed */
  }
  
  .sidebar .text-white {
    color: white;
}

/* Optionally, you can change the color of links and hover styles if needed */
.sidebar .text-white a {
    color: white;
    text-decoration: none; /* Remove underline from links */
}

/* Change link color on hover */
.sidebar .text-white a:hover {
    color: #ccc; /* Change the color to a lighter shade on hover */
}
.headerColor{
  background: #070101;
    
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(21, 28, 48), rgb(16, 4, 91));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(21, 28, 48), rgb(16, 4, 91))
}