.switch_page:hover {
    background-color: #353131;
    color: rgb(246, 241, 241);
  }
  
.switch_page {
    background-color: #f1f1f1;
    color: black;
    margin: 4px;
  }
  .btn_custom:hover {
    background-color: #aea4a4;
    color: black
  }
  
.btn_custom {
    background-color: #00008B;
    color: white;
    margin: 4px;
  }

  .rounded-btn {
    display: inline-flex;
      border-radius: 20px;
      background-color: antiquewhite;
      padding: 5px 10px;
      cursor: pointer;
      margin-right: 6px;
  }

  .item_filter{
    border-right: 1px solid;
    padding-right: 6px;
  }